@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>GameShop</h1>
    <img src="~/Content/OnlineGames.jpg" alt="Online shop" width="820" height="450"/>
    <br />
    <p class="lead">Bienvenidos a Nuestro portal en linea para ordenar los mejores juegos.</p>
</div>